@font-face {
    font-family: 'Nexa Bold';
    src: url("NexaBold.otf");
}

.GridPane {
    -fx-background-color: #bacddb;
    -fx-font-family: "Nexa Bold";
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 5,5);

}
.GridPane > *:hover {
    -fx-background-color: #aabbc8;
}