@font-face {
    font-family: 'Nexa Bold';
    src: url("NexaBold.otf");
}

/*.root {*/
    /*background-color: lightblue;*/
    /*-fx-font-family: "Nexa Bold";*/
/*}*/

.text {
    -fx-font-family: "Nexa Bold";
    -fx-font-size: 22;
}

/*#homeButton {*/
    /*-fx-font-family: "Nexa Bold";*/
/*}*/

.button {
    -fx-background-color: #b2e4ca;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #85ab97;
    -fx-background-radius: 0;
}

.button:focused {
    -fx-background-color: #85ab97;
    -fx-background-radius: 0;
}

