/* GOALS SCREEN */

.goalBox {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 5,5);
}

/* MAIN NAVIGATION SCREEN */

@font-face {
    font-family: 'Nexa Bold';
    src: url("NexaBold.otf");
}

.navIcon .text {
    -fx-font-family: "Nexa Bold";
    -fx-font-size: 22;
}

.navIcon {
    -fx-margin: 0 0 0 0;
}

.navIcon:hover {
    -fx-background-color: rgb(39,111,101);
}

.navIcon:focused {
    -fx-background-color: rgb(39,111,101);
}


/* HEADER */

/* .mainNaviagation {
    /*-fx-background-color:  rgb(40,40,40);
    -fx-border-color:  transparent transparent  rgb(63,179,164) transparent;*/
    /*-fx-border-width: 8px; */
/*} */

#headerBackButton {
    -fx-fill: rgb(118,162,235);
}

#headerBackButton:hover {
    -fx-fill: #5473a7;
}

/* RAW DATA VIEWER */

.date-picker .text-field {
    -fx-font-size: 12px;
}

