
.headerMenu .label {
	-fx-text-fill: white;
	-fx-font-size: 21px;
	-fx-font-family: "Nexa Bold";
}

.headerMenu .label:hover {
	-fx-text-fill: lightGray;
}

.headerMenu:focused {
	-fx-background-color: transparent;
}

.headerMenu {
	-fx-background-color: transparent;
}

.menu-item:focused {
     -fx-background-color: #969A9F;
}

.context-menu:focused {
     -fx-background-color: #969A9F;
}

.menu:focused {
	-fx-background-color: transparent;
}



#comboBox .list-cell
 {
    -fx-font-family: arial;
    -fx-font-size: 16px;
    -fx-text-fill: white; 
 }

 #comboBox
  {
     -fx-font-family: arial;
     -fx-font-size: 16px;
     -fx-text-fill: white;
  }

.choice-box .context-menu {
    -fx-background-color: black;
}

.cb .label {
   -fx-text-fill: white
}

